Repository ZanzyTHEbar/cursor-rules: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-test-quick, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit hooks for cursor-rules
# See https://pre-commit.com for more information
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Go formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w, -s]
        language: system
        files: \.go$
        pass_filenames: true
      
      - id: go-imports
        name: go imports
        entry: bash -c 'goimports -w "$@" || true' --
        language: system
        files: \.go$
        pass_filenames: true
      
      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        files: \.go$
        pass_filenames: false
        args: [./...]
      
      - id: go-test-quick
        name: go test (quick)
        entry: go test
        language: system
        files: \.go$
        pass_filenames: false
        args: [-short, ./...]
      
      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|txt)$
      - id: end-of-file-fixer
        exclude: \.(md|txt)$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: ^(CHANGELOG\.md|node_modules/)

  # YAML
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]

# Configuration for specific hooks
default_language_version:
  python: python3

# Skip these hooks in CI (they're slow)
ci:
  skip: [go-test-quick]

feat(commands): move commands under cursor-rules shared dir and extract generic package installer
  .golangci.yml
  cmd/cursor-rules/commands/commands_test.go
  cmd/cursor-rules/commands/list.go
  cmd/cursor-rules/commands/remove.go
  cmd/cursor-rules/commands/sync.go
  internal/core/commands.go
  internal/core/commands_test.go
  internal/core/project.go
  internal/core/remove.go
  internal/core/resource_helpers.go
  internal/core/util.go
Due: go-fmt, go-imports, go-vet, go-test-quick

refactor(core): consolidate symlink/stow/stub logic and standardize naming
  internal/core/apply.go
  internal/core/commands.go
  internal/core/commands_test.go
  internal/core/gnustow.go
  internal/core/presets.go
  internal/core/resource_helpers.go
Due: go-fmt, go-imports, go-vet, go-test-quick

chore: clean up rebase conflicts and improve code quality
  .gitignore
  internal/core/commands.go
  internal/core/commands_test.go
  internal/core/presets_test.go
  internal/core/watcher.go
Due: go-fmt, go-imports, go-vet, go-test-quick

refactor: improve code quality and respect symlink mode for cursor target
  cli/configure.go
  cli/root.go
  cli/root_test.go
  cmd/cursor-rules/commands/commands_test.go
  cmd/cursor-rules/commands/effective.go
  cmd/cursor-rules/commands/install.go
  cmd/cursor-rules/commands/list.go
  cmd/cursor-rules/commands/transform.go
  cmd/cursor-rules/commands/watch.go
  go.mod
  go.sum
  internal/core/apply.go
  internal/core/commands.go
  internal/core/mapping.go
  internal/core/presets.go
  internal/core/remove.go
  internal/core/watcher.go
  internal/testutil/helpers.go
  scripts/integration_test.sh
Due: go-fmt, go-imports, go-vet, go-test-quick, go-mod-tidy

docs: enhance contributing guide and improve code quality
  .golangci.yml
  CONTRIBUTING.md
  Makefile
  cmd/cursor-rules/commands/effective.go
  cmd/cursor-rules/commands/init.go
  cmd/cursor-rules/commands/install.go
  cmd/cursor-rules/commands/policy.go
  cmd/cursor-rules/commands/remove.go
  cmd/cursor-rules/commands/sync.go
  cmd/cursor-rules/commands/watch.go
  e2e_test.go
  internal/config/config.go
  internal/core/commands.go
  internal/core/gnustow.go
  internal/core/presets.go
  internal/core/presets_test.go
  internal/core/resource_helpers.go
  internal/core/util.go
  internal/core/watcher.go
  internal/manifest/manifest_test.go
  internal/security/pathvalidation.go
  internal/testutil/helpers.go
  internal/transform/copilot_instructions.go
  internal/transform/copilot_prompts.go
  internal/transform/transform_bench_test.go
  internal/transform/transform_test.go
  internal/transform/transformer.go
  scripts/install-hooks.sh
  scripts/pre-commit.sh
Due: go-fmt, go-imports, go-vet, go-test-quick

ci: configure gosec security linter and suppress false positives
  .github/workflows/ci.yml
  .gosec.json
  internal/core/gnustow.go
  internal/core/resource_helpers.go
  internal/core/watcher.go
Due: go-fmt, go-imports, go-vet, go-test-quick

ci: add security permissions and local CI testing script
  .github/workflows/ci.yml
  scripts/test-ci-locally.sh
Due: none

chore(minor): 0.5.0 [skip ci]
  CHANGELOG.md
  extension/package.json
Due: none

Notes added by 'git notes add'
  ad8c6fc9b93f3771e6bf75eb6d35d21f8a9b044d
Due: none

feat(cli): set new shared dir default
  README.md
  cmd/cursor-rules/commands/watch.go
  cmd/cursor-rules/root.go
  docs/CLI_EXAMPLES.md
  docs/USER_GUIDE.md
  internal/config/config.go
  internal/core/presets.go
Due: go-fmt, go-imports, go-vet, go-test-quick

docs(rules): update internal guidance
  .cursor/rules/baby-steps.mdc
  .cursor/rules/behaviour-rules.mdc
  .cursor/rules/notepad-rules.mdc
  Makefile
Due: none

chore(minor): 0.6.0 [skip ci]
  CHANGELOG.md
  extension/package.json
Due: none

Notes added by 'git notes add'
  ad40d0bf1f67810ecf2f118e02a940c95a8b86ff
Due: none

fix(watcher): ensure lint compatibility
  internal/core/watcher.go
Due: go-fmt, go-imports, go-vet, go-test-quick

chore(patch): 0.6.1 [skip ci]
  CHANGELOG.md
  extension/package.json
Due: none

Notes added by 'git notes add'
  8eef397ad41ba0dfa19743b16be2873572e2a5aa
Due: none

feat(config): add initializer for default config
  README.md
  cmd/cursor-rules/commands/config.go
  cmd/cursor-rules/commands/config_test.go
  cmd/cursor-rules/root.go
  docs/USER_GUIDE.md
  internal/config/config.go
Due: go-fmt, go-imports, go-vet, go-test-quick

Notes added by 'git notes add'
  56640008755789b0db2f6f7f2c6d19632a08f59c
Due: none

chore(minor): 0.7.0 [skip ci]
  CHANGELOG.md
  extension/package.json
Due: none

refactor(cli): improve messaging architecture and add info command
  CHANGELOG.md
  cli/appcontext.go
  cli/configure.go
  cli/configure_test.go
  cli/display/binary_info.go
  cli/display/binary_info_test.go
  cli/messenger.go
  cli/messenger_test.go
  cli/root.go
  cmd/cursor-rules/commands/config.go
  cmd/cursor-rules/commands/config_test.go
  cmd/cursor-rules/commands/effective.go
  cmd/cursor-rules/commands/info.go
  cmd/cursor-rules/commands/info_test.go
  cmd/cursor-rules/commands/init.go
  cmd/cursor-rules/commands/install.go
  cmd/cursor-rules/commands/list.go
  cmd/cursor-rules/commands/policy.go
  cmd/cursor-rules/commands/remove.go
  cmd/cursor-rules/commands/sync.go
  cmd/cursor-rules/commands/transform.go
  cmd/cursor-rules/commands/watch.go
  cmd/cursor-rules/root.go
  cmd/cursor-rules/root_test.go
  go.mod
  go.sum
  internal/config/config.go
  internal/core/apply.go
  internal/core/commands.go
  internal/core/e2e_test.go
  internal/core/gnustow.go
  internal/core/install_strategy.go
  internal/core/presets.go
  internal/core/presets_test.go
  internal/core/resource_helpers.go
  internal/core/watcher.go
Due: go-fmt, go-imports, go-vet, go-test-quick, go-mod-tidy

Notes added by 'git notes add'
  4e61d327a68f43b7205f34196c8231273f88f6c3
Due: none

chore(patch): 0.7.1 [skip ci]
  CHANGELOG.md
  extension/package.json
Due: none

chore(cleanup): update .gitignore and remove obsolete cursor rules
  .cursor/rules/architect-rules.mdc
  .cursor/rules/baby-steps.mdc
  .cursor/rules/behaviour-rules.mdc
  .cursor/rules/commands.mdc
  .cursor/rules/engineering-rules.mdc
  .cursor/rules/first-look-analysis.mdc
  .cursor/rules/git_conventional_commit.mdc
  .cursor/rules/git_workflow.mdc
  .cursor/rules/github_issues_prs.mdc
  .cursor/rules/golang-rules.mdc
  .cursor/rules/mermaid.mdc
  .cursor/rules/software-engineering-rules.mdc
  .cursor/rules/task-execution-rules.mdc
  .gitignore
Due: none

feat: add structured rules tree listing
  cmd/cursor-rules/commands/list.go
  cmd/cursor-rules/commands/list_test.go
  internal/core/rules_tree.go
  internal/core/rules_tree_test.go
Due: go-fmt, go-imports, go-vet, go-test-quick

feat(install): add all subcommand
  cmd/cursor-rules/commands/install.go
  cmd/cursor-rules/commands/install_all_test.go
  cmd/cursor-rules/commands/list.go
  internal/core/rules_tree.go
Due: go-fmt, go-imports, go-vet, go-test-quick

chore(minor): 0.8.0 [skip ci]
  CHANGELOG.md
  extension/package.json
Due: none

Notes added by 'git notes add'
  0257609c86672c8e7f0ab4c762c71dfaf653d6cc
Due: none

fix(install): skip dot packages and replace symlinks on copy
  cmd/cursor-rules/commands/install.go
  cmd/cursor-rules/commands/install_all_test.go
  cmd/cursor-rules/install_exec_test.go
  internal/core/rules_tree_test.go
  internal/core/sync.go
Due: go-fmt, go-imports, go-vet, go-test-quick

chore(patch): 0.8.1 [skip ci]
  CHANGELOG.md
  extension/package.json
Due: none

Notes added by 'git notes add'
  4f5843e97a27b5a188645178d5e78ff1cb0df739
Due: none

chore(install): suppress repeated install method in install all
  cmd/cursor-rules/commands/install.go
Due: go-fmt, go-imports, go-vet, go-test-quick

chore(deps): add errbuilder-go and internal/errors package
  go.mod
  go.sum
  internal/errors/config.go
  internal/errors/errors.go
Due: go-fmt, go-imports, go-vet, go-test-quick, go-mod-tidy

refactor(config): use internal/errors for legacy config key
  internal/config/config.go
Due: go-fmt, go-imports, go-vet, go-test-quick

refactor(app): use internal/errors for all error creation
  internal/app/app_test.go
  internal/app/config.go
  internal/app/effective.go
  internal/app/install.go
  internal/app/list.go
  internal/app/sync.go
  internal/app/transform.go
  internal/app/watch.go
Due: go-fmt, go-imports, go-vet, go-test-quick

refactor(core): use internal/errors for all error creation
  internal/core/apply.go
  internal/core/commands.go
  internal/core/gnustow.go
  internal/core/mapping.go
  internal/core/presets.go
  internal/core/resource_helpers.go
  internal/core/rules_tree.go
  internal/core/sync.go
  internal/core/util.go
Due: go-fmt, go-imports, go-vet, go-test-quick

refactor(cli): use internal/errors for error creation
  internal/cli/appcontext.go
  internal/cli/commands/watch.go
  internal/cli/configure.go
Due: go-fmt, go-imports, go-vet, go-test-quick

refactor(transform): use internal/errors for all error creation
  internal/transform/copilot_instructions.go
  internal/transform/copilot_prompts.go
  internal/transform/util.go
Due: go-fmt, go-imports, go-vet, go-test-quick

refactor(security): use internal/errors for wrapped validation errors
  internal/security/pathvalidation.go
Due: go-fmt, go-imports, go-vet, go-test-quick

docs(CONTRIBUTING): document errbuilder-go and internal/errors
  CONTRIBUTING.md
Due: none
