Repository ZanzyTHEbar/cursor-rules: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-test-quick, go-mod-tidy

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system
  pass_filenames: true

go-imports:
  name: go imports
  entry: bash -c 'goimports -w "$@" || true' --
  language: system
  pass_filenames: true

go-vet:
  name: go vet
  entry: go vet
  language: system
  pass_filenames: false
  args:
  - ./...

go-test-quick:
  name: go test (quick)
  entry: go test
  language: system
  pass_filenames: false
  args:
  - -short
  - ./...

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

refactor(config): single package-dir env, user paths, remove CURSOR_RULES_HOME
  internal/config/config.go
  internal/config/paths.go
Due: go-fmt, go-imports, go-vet, go-test-quick

feat(core): add skills, agents, hooks (list, install, remove)
  internal/core/agents.go
  internal/core/agents_test.go
  internal/core/commands.go
  internal/core/hooks.go
  internal/core/hooks_test.go
  internal/core/remove.go
  internal/core/skills.go
  internal/core/skills_test.go
  internal/core/util.go
Due: go-fmt, go-imports, go-vet, go-test-quick

feat(app): install/list/remove/sync skills, agents, hooks; global and link
  internal/app/install.go
  internal/app/link.go
  internal/app/list.go
  internal/app/remove.go
  internal/app/sync.go
Due: go-fmt, go-imports, go-vet, go-test-quick

feat(cli): persistent --dir/--global, ResolveDestination, config link
  internal/cli/commands/config.go
  internal/cli/commands/init.go
  internal/cli/commands/install.go
  internal/cli/commands/list.go
  internal/cli/commands/remove.go
  internal/cli/display/render.go
  internal/cli/flags.go
  internal/cli/root.go
Due: go-fmt, go-imports, go-vet, go-test-quick

test: fix config dir and add skills/agents/hooks coverage
  cmd/cursor-rules/install_exec_test.go
  internal/app/app_test.go
  internal/cli/commands/commands_test.go
  internal/cli/commands/install_all_test.go
  internal/cli/commands/list_test.go
  internal/cli/install_exec_test.go
  internal/cli/integration_test.go
Due: go-fmt, go-imports, go-vet, go-test-quick

docs: directories and destination, remove CURSOR_RULES_HOME
  README.md
  docs/DIR-CONSOLIDATION-DESIGN.md
  docs/USER_GUIDE.md
Due: none

chore(deps): update pflag dependency in go.mod
  go.mod
Due: go-mod-tidy

refactor(core): resource helpers, presets, skills, agents, hooks, paths
  internal/config/paths.go
  internal/core/agents.go
  internal/core/commands.go
  internal/core/commands_test.go
  internal/core/e2e_test.go
  internal/core/gnustow.go
  internal/core/hooks.go
  internal/core/presets.go
  internal/core/presets_test.go
  internal/core/remove.go
  internal/core/resource_helpers.go
  internal/core/resource_named.go
  internal/core/skills.go
  internal/core/sync.go
  internal/core/util.go
Due: go-fmt, go-imports, go-vet, go-test-quick

refactor(app): install, remove, list, sync, resource providers
  internal/app/app.go
  internal/app/install.go
  internal/app/list.go
  internal/app/remove.go
  internal/app/remove_test.go
  internal/app/resource_providers.go
  internal/app/resource_providers_test.go
  internal/app/sync.go
Due: go-fmt, go-imports, go-vet, go-test-quick

feat(cli): reserved 'help' positional for name-taking commands
  internal/cli/args.go
  internal/cli/args_test.go
  internal/cli/commands/install.go
  internal/cli/commands/install_all_test.go
  internal/cli/commands/remove.go
  internal/cli/commands/transform.go
  internal/cli/display/render.go
  internal/cli/flags.go
  internal/cli/integration_test.go
Due: go-fmt, go-imports, go-vet, go-test-quick

chore: remove VS Code extension and related files
  .vscode/settings.json
  assets/icon.orig.png
  assets/icon.webp
  extension/.gitignore
  extension/.vscodeignore
  extension/LICENSE
  extension/README.md
  extension/package.json
  extension/pnpm-lock.yaml
  extension/pnpm-workspace.yaml
  extension/src/extension.ts
  extension/src/test/runTest.ts
  extension/src/test/suite/extension.test.ts
  extension/src/test/suite/index.ts
  extension/tsconfig.json
  test_samples/TRANSFORMATION_TEST.md
Due: none

build: update CI workflows, release config, Makefile, scripts
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .releaserc
  Makefile
  scripts/test-ci-locally.sh
Due: none

docs: update README and user guide; go.mod
  README.md
  docs/DIR-CONSOLIDATION-DESIGN.md
  docs/USER_GUIDE.md
  go.mod
Due: go-mod-tidy

feat(cli): install Cursor-compatible commands and agents
  internal/app/install.go
  internal/app/link.go
  internal/app/remove.go
  internal/app/resource_providers.go
  internal/app/resource_providers_test.go
  internal/cli/args.go
  internal/cli/commands/install.go
  internal/cli/commands/install_all_test.go
  internal/cli/display/render.go
  internal/cli/integration_test.go
  internal/core/agents.go
  internal/core/apply.go
  internal/core/commands.go
  internal/core/commands_cursor_compat.go
  internal/core/hooks.go
  internal/core/presets.go
  internal/core/resource_helpers.go
  internal/core/resource_named.go
  internal/core/rules_tree.go
  internal/core/rules_tree_test.go
  internal/core/sync.go
Due: go-fmt, go-imports, go-vet, go-test-quick

feat(cli): add OpenCode target support
  AGENTS.md
  Makefile
  README.md
  internal/app/app_test.go
  internal/app/install.go
  internal/app/list.go
  internal/app/remove.go
  internal/app/remove_test.go
  internal/app/resource_providers.go
  internal/app/resource_providers_test.go
  internal/cli/appcontext.go
  internal/cli/commands/effective.go
  internal/cli/commands/install.go
  internal/cli/commands/install_all_test.go
  internal/cli/commands/list.go
  internal/cli/commands/list_test.go
  internal/cli/commands/remove.go
  internal/cli/commands/transform.go
  internal/cli/display/render.go
  internal/cli/integration_test.go
  internal/config/paths.go
  internal/core/commands_opencode.go
  internal/transform/opencode_rules.go
  internal/transform/transform_test.go
Due: go-fmt, go-imports, go-vet, go-test-quick

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  go-test-quick: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
